services:
  lastboard:
    container_name: lastboard
    image: ghcr.io/codigosh/lastboard:latest
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
